# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Entornos y variables sensibles
.env
backend/.env
frontend/.env

# Archivos de logs
*.log
logs/

# Archivos de sistema
.DS_Store
Thumbs.db

# Build y dist
frontend/dist/
backend/dist/

# Otros
coverage/
.vscode/
.idea/

# Exclusiones también en la raíz
.env
dist/

#vitest cache
.vitest/
.vite/
