# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Sensitive environments and variables
.env
backend/.env
frontend/.env

# Log files
*.log
logs/

# System files
.DS_Store
Thumbs.db

# Build and dist
frontend/dist/
backend/dist/

# Others
coverage/
.vscode/
.idea/

# Exclusions also in the root
.env
dist/

#vitest cache
.vitest/
.vite/
